body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 1fr;
}

body div {
    border: 2px solid black;
}

#nav {
    position: absolute;
    background-color: aquamarine;
    border-radius: 15px;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
}

.collapsed {
    height: 5vh;
    width: 2vw;
}

.drop-down {
    width: 10vw;
    height: 40vh;
}

#title {
display: flex;
justify-content: center;
align-items: center;
}

#body {
    grid-row: 2 / 3;
}