body {
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 1fr;
}

body div {
    border: 2px solid black;
}

#nav {
    position: absolute;
    background-color: aquamarine;
    border-radius: 15px;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
    overflow: hidden;
    display: grid;
    grid-template-columns: 5vw 10vw;
    grid-template-rows: repeat(6, 10vh);
}

.nav-item {
    grid-column: 1 / 3;
}

.collapsed {
    height: 9vh;
    width: 5vw;
}

.drop-down {
    width: 15vw;
    height: 60vh;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body {
    height: 85vh;

    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 10fr 1fr;
}

#slider {
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    overflow: hidden;
    position: relative;
    width: 75vh;
    height: 60vh;

}

#slides {
    position: relative;
    transition: right 500ms ease-in-out;
    width: auto;
    height: 60vh;
    width: 375vh;
    display: flex;
    gap: 0;
    right: 0vh;
}

#slides img {
    position: relative;
    height: 60vh;
    width: 75vh;
    border: 0;
}

#slide-icons {
    grid-row: 2 / 3;
}